.wrapper {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
  display: flex;
  height: 80px;
  margin-top: var(--spacing-xl);
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
