.networks {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}

.network {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  width: 200px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 4px;
  padding: var(--spacing-sm);
  background-color: #ddd;
  &:hover {
    background-color: #ccc;
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-sm);
    gap: var(--spacing-sm);
  }
  .radio {
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
